$blue: #236AAF;
$lavender: #CDB2E9;
$red: #DC3F32;
$pale-red: #E26055;
$green: #9EDC83;
$orange: #EB7D49;
$turquoise: #D1ECEA;
$yellow: #EBE44B;
$violet: #E499C4;
$dark-teal: #476866;
$pale-teal: #99B7B6;

$title-font: 'Fredericka the Great';
$note-font: 'Shanti';
